.header{
	background-color:#f7f2b4;
	height:90px;
	
}
.main{
	
	height:600px;
	
}
.footer{
	background-color:#ceccf3;
	height:270px;
	margin-top:500px;
	
}
li{
	list-style: none;
	float: left;
	padding-bottom:33px;
	padding-top:33px;
	padding-left:20px;
	padding-right:20px;
}
.header-logo { 
float: left; 
font-size: 36px;
padding-bottom:20px;
	padding-top:20px;
	padding-left:40px;
	padding-right:40px;
 }

.header-list li{ float: left; padding: 33px 20px; }
li { list-style: none; }
.footer { background-color: #2f5167 ;
color: #fff ;
height: 120px ;
padding: 40px  } 
.footer-logo{
float: left; 
font-size: 36px;	}


.footer-list{float: right; } 
 .footer-list li{ padding-bottom:20px; }

.main{
	background-color:none;
	height:none;
	padding-bottom:100px;
	padding-top:100px;
	padding-left:80px;
	
	padding-right:80px;
	
}
.contents{
	height:500px;
	margin-top:100px;
}
.contents-item{float:left; margin-right:40px; }
.contact-form{
	margin-top:-110px;
}
.section-title{border-bottom: solid #dee7ec 2px; 
font-size:28px;
padding-bottom:15px;
margin-bottom:50px;}
.contents-item p {font-size;20px;
margin-top:10px; }

input,textarea{width:400px; margin-top:10px; margin-bottom:30px; padding:20px; font-size:18px; border:1px solid #dee7ec;}
.contact-submit{
background-color: #dee7ec; 
color: 889eab;	}
